# Files and directories that are not needed in the container

# Version Control Systems configuration files
.git
.gitignore

# Virtual environment
venv/

# Environment variables
.env

# IDE specific files
.vscode/
.idea/

# Python cache files
__pycache__
*.pyc
*.pyo

# Chroma DB files
chroma_db/

# OS temporary files
*.swp
*.swo
*.DS_Store

# Log files
logs/
*.log
